<% include ./includes/header %>
<div class="container" id="container">

  <div class="starter-template">
    <h1>Welcome to Memorial Network</h1>
  </div>
  <div id="pdf">
  </div>

</div>

<script type="text/javascript">
PDFObject.embed("/files/reqdoc.pdf", "#pdf");
</script>
<% include ./includes/footer %>